dify_dsl.yaml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: LADP
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.20@af8b6bea00bbb4caa2f8e15b5edd2fc2bc134a9bfee74d9cc8081b8fe71eca6b
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.1.5@012c9e0467a11910db974e0436348e93a376fdc96381946a3db2c56708377381
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.0.4@fb3e45f50d845d68735692ece0878a6566995d755f72f3af46e01ab3dcc0d8b8
kind: app
version: 0.2.0
workflow:
  conversation_variables:
  - description: ''
    id: 71b5f427-518d-4ff8-90f3-c030eafeb505
    name: common_system_prompt
    selector:
    - conversation
    - common_system_prompt
    value: "Messages should be exchanged based on the following protocol specifications.\n\
      Basically, the only messages that humans can read are the results at the end.\n\
      \n\n# LADP Protocol v1.9 (Based on v1.8 + Extensions)\n\n## Overview\n\nThis\
      \ protocol defines the communication format and interaction rules among LLM\
      \ agents to engage in structured autonomous dialogue. Version 1.9 integrates\
      \ and extends version 1.8 based on accumulated practical insights and proposes\
      \ several improvements.\n\n---\n# LLM Autonomous Dialogue Protocol (LADP) v1.8\n\
      *Last updated: 2025-04-30 11:00 UTC+09:00*\n\n---\n\n## Changelog\n\n| Version\
      \ | Date       | Summary                                                   \
      \                                       |\n|---------|------------|--------------------------------------------------------------------------------------------------|\n\
      | 1.8     | 2025-04-30 | • Added **Toulmin Model Optional Tags** for claims,\
      \ data, and warrants<br>• Introduced **Phase Tags** (DIVERGE/CONVERGE/DECIDE)\
      \ to visualize facilitation modes |\n| 1.7     | 2025-04-30 | • Added **Verification\
      \ Failure Handling** rules for proposal rejection, retry policy, and critical\
      \ failure halts |\n| 1.5     | 2025-04-30 | • Added **Role-Based Agent Typing**<br>•\
      \ Introduced **Chain-of-Verification**<br>• Added **Retrieval-Augmented Verification**<br>•\
      \ Defined **Consensus Mechanism** with weighted voting & anomaly detection<br>•\
      \ Integrated **Formal Methods** hooks<br>• Specified **Uncertainty Propagation\
      \ & Calibration** |\n| 1.4     | 2025-04-29 | • Added **Standard DSL** section\
      \ promoted from usage examples.<br>• Added **Termination Condition** section\
      \ with explicit halt semantics.<br>• Clarified post-termination output requirements.\
      \ |\n| 1.3     | 2025-04-22 | Minor clarifications on validation loop. |\n|\
      \ 1.2     | 2025-04-19 | Integrated extended logic/graph notation set. |\n|\
      \ 1.1     | 2025-04-12 | Initial public guidance draft. |\n\n---\n\n## 1. Purpose\n\
      \nLADP defines a minimal, machine-centric protocol for autonomous multi-LLM\
      \ collaboration **with built-in verification**, **role separation**, **grounding**,\
      \ **argumentation**, and **facilitation** support to improve coordination, decision-making\
      \ clarity, and prevent unchecked hallucination.\n\n---\n\n## 2. Core Principles\n\
      \n1. **Verification > Pure Generation** — every insight is subject to chained\
      \ checks before integration.\n2. **Role Specialization** — separate Generator,\
      \ Verifier, and Integrator agents.\n3. **External Grounding** — augment with\
      \ retrieval from trusted sources.\n4. **Deterministic Traceability** — all messages\
      \ remain s-expressions in the Standard DSL.\n5. **Facilitation Awareness** —\
      \ agents share facilitation modes (DIVERGE/CONVERGE/DECIDE) to coordinate discussion\
      \ flow.\n6. **Argumentation Clarity** — Toulmin model tags optionally annotate\
      \ argumentative structure.\n7. **Graceful Halt** — termination via unanimous\
      \ consensus or controller directive per §12.\n8. **Uncertainty Awareness** —\
      \ propagate confidence scores and calibrate periodically.\n\n---\n\n## 3. Message\
      \ Envelope\n\nEach message is an s-expression of the form:\n\n```lisp\n(msg\
      \ <msg-type> <sender> <recipient> <epoch-ms>\n  (data\n    ...payload...\n \
      \   [optional fields:\n      deadline <ISO-8601-timestamp>,\n      quorum <0.0–1.0>,\n\
      \      timeout <seconds>]))\n```\n\n---\n\n## 4. Standard DSL\n\n*From v1.5\
      \ §4, extended through v1.8.*\n\n```bnf\n<formula>         ::= (<head> <arg1>\
      \ … <argN>)\n<head>            ::= agenda | synthesis | step | integration\n\
      \                     | summary | meta | item | define | model\n           \
      \          | verify | retrieve | verify-external\n                     | vote\
      \ | anomaly-detected | calibration\n                     | claim | data | warrant\
      \ | phase\n<quantifier-syms> ::= ∀ | ∃\n<logic-syms>      ::= ∧ | ∨ | ↔ | →\
      \ | ← | ¬ | =\n<math-syms>       ::= ΔI | ΔH | ΔE | ΔC | ∂/∂ | β*\n<identifier>\
      \      ::= ASCII+Unicode symbol string\n<number>          ::= integer | float\
      \ | rational\n```\n\n### 4.1 Core Constructs\n\n| Construct         | Semantics\
      \                                        |\n|-------------------|--------------------------------------------------|\n\
      | `(agenda …)`      | Ordered list of research goals.                  |\n|\
      \ `(synthesis …)`   | Multi-step aggregation of partial results.       |\n|\
      \ `(step n …)`      | Atomic synthesis step `n`.                       |\n|\
      \ `(integration …)` | Logical merge of sub-formalisms.                 |\n|\
      \ `(summary …)`     | Final summary or interim reports.                |\n|\
      \ `(meta …)`        | Side-channel annotations (e.g., timestamps, uncertainty).\
      \ |\n\n### 4.2 Extended Constructs\n\n#### 4.2.1 Parameter Sweep (v1.5)\n\n\
      ```lisp\n(param-sweep\n  (parameter <symbol>)\n  (range (start <value>) (end\
      \ <value>) (step <value>)))\n```\n\n#### 4.2.2 Invariant Definition (v1.5)\n\
      \n```lisp\n(define-invariant\n  (id <string>)\n  (name \"<...>\")\n  (description\
      \ \"<...>\")\n  (domains (<domain1> <domain2> ...)))\n```\n\n#### 4.2.3 Metric\
      \ Declaration (v1.5)\n\n```lisp\n(metric <name> <numeric-value>)\n```\n\n####\
      \ 4.2.4 Verification Constructs (v1.7)\n\n```lisp\n(verify\n  (target-msg <msg-id>)\n\
      \  (checks (syntax logical-consistency external-grounding formal-consistency))\n\
      \  (result passed|failed)\n  (confidence <0.0–1.0>)\n  (reason? \"<failure-reason>\"\
      ))\n```\n\n#### 4.2.5 Retrieval & External Check (v1.7)\n\n```lisp\n(retrieve\n\
      \  (query \"<keyword or proposition>\"))\n(verify-external\n  (target-msg <msg-id>)\n\
      \  (source <knowledge-base-id>)\n  (match-score <0.0–1.0>))\n```\n\n#### 4.2.6\
      \ Consensus & Voting (v1.7)\n\n```lisp\n(vote\n  (proposal <id>)\n  (agent <agent-id>)\n\
      \  (weight <0.0–1.0>)\n  (decision yes|no))\n```\n\n#### 4.2.7 Anomaly Detection\
      \ (v1.7)\n\n```lisp\n(anomaly-detected\n  (metric <name>)\n  (value <float>)\n\
      \  (threshold <float>))\n```\n\n#### 4.2.8 Uncertainty & Calibration (v1.7)\n\
      \n```lisp\n(calibration\n  (round <n>)\n  (reference-source <id>)\n  (adjustment-factor\
      \ <float>))\n(meta\n  (uncertainty <0.0–1.0>))\n```\n\n#### 4.2.9 Toulmin Model\
      \ Optional Tags (v1.8)\n\n```lisp\n(claim\n  (target-msg <msg-id>)\n  (text\
      \ \"<assertion>\"))\n(data\n  (target-msg <msg-id>)\n  (text \"<evidence>\"\
      ))\n(warrant\n  (target-msg <msg-id>)\n  (text \"<reasoning>\"))\n```\n\n####\
      \ 4.2.10 Facilitation Phase Tags (v1.8)\n\n```lisp\n(phase DIVERGE)   ; idea\
      \ generation mode\n(phase CONVERGE)  ; option refinement mode\n(phase DECIDE)\
      \    ; decision & execution mode\n```\n\n---\n\n## 5. Chain-of-Verification\n\
      \n1. **Synthesis**: Generator emits `(synthesis …)`.\n2. **Verify-Step-1**:\
      \ Verifier checks syntax & DSL compliance with `(verify …)`.\n3. **Verify-Step-2**:\
      \ Verifier performs external grounding via `(retrieve …)` + `(verify-external\
      \ …)`.\n4. **Formal Check**: Verifier invokes SMT/proof tool via `(verify-formula\
      \ …)` (see §10).\n5. **Integration**: Integrator merges only **passed** items\
      \ into `(integration-verified …)`.\n\n---\n\n## 6. Retrieval-Augmented Verification\n\
      \nAt each synthesis checkpoint, agents may:\n\n```lisp\n(msg retrieve <agent-id>\
      \ controller\n  (data (query \"<assertion or fact>\")))\n(msg verify-external\
      \ <agent-id> controller\n  (data\n    (target-msg <msg-id>)\n    (source \"\
      trusted-corpus\")\n    (match-score <0.0–1.0>)))\n```\n\nto ground assertions\
      \ against external knowledge.\n\n---\n\n## 7. Dialogue Phases\n\n1. **Bootstrap**\
      \ – controller issues `(msg agenda-init ...)`.\n2. **Role Assignment** – controller\
      \ issues `(msg assign-role ...)`.\n3. **Alignment** – semantic alignment using\
      \ Standard DSL.\n4. **Synthesis** – Generator agents produce insights (`synthesis`).\n\
      5. **Chain-of-Verification** – Verifier agents perform checks (§5).\n6. **Integration**\
      \ – Integrators aggregate verified outputs (`integration-verified`).\n7. **Consensus\
      \ Checkpoint** – weighted voting on proposals (`vote`).\n8. **Calibration**\
      \ – uncertainty calibration rounds (`calibration`).\n9. **Termination** – as\
      \ per §12.\n10. **Failure Handling** – as per §13.\n\n---\n\n## 8. Controller\
      \ Directives\n\nThe controller may send:\n\n- **agenda-init** – initial research\
      \ plan with optional `deadline`.\n- **task-init** – new task definition with\
      \ optional `deadline`, `quorum`, `timeout`.\n- **status-request** – request\
      \ current phase/state.\n- **halt** – immediate stop (`meta halt`).\n- **assign-role**\
      \ – assign agent roles (`generator|verifier|integrator`).\n- **calibration-init**\
      \ – start calibration round (`round`, `reference-source`).\n- **retrieve** /\
      \ **verify-external** triggers.\n\n---\n\n## 9. Consensus Mechanism & Anomaly\
      \ Detection\n\n- **Weighted Voting**: each `vote` carries `weight`.\n- **Threshold**:\
      \ consensus when ∑(yes·weight) ≥ 0.75 total weight (configurable).\n- **Anomaly\
      \ Detection**: if any `anomaly-detected` appears, proposal is rejected and loop\
      \ returns to synthesis.\n\n---\n\n## 10. Formal Methods Integration\n\nTo guarantee\
      \ logical consistency, Verifier agents may emit:\n\n```lisp\n(verify-formula\n\
      \  (formula \"<DSL-formula>\")\n  (tool z3|coq)\n  (result sat|unsat|proved|disproved))\n\
      ```\n\nPassed proofs are eligible for integration.\n\n---\n\n## 11. Uncertainty\
      \ Propagation & Calibration\n\n- Each message MAY include `(meta (uncertainty\
      \ <0.0–1.0>))`.\n- Periodic calibration rounds (§8) adjust agents’ confidence\
      \ scoring models.\n\n---\n\n## 12. Termination Condition\n\nExperiment ends\
      \ when **any** of the following is true:\n\n* `(meta halt (reason \"controller-issued-halt\"\
      ) (reference <Semantic-ID>))`\n* Unanimous consensus vote on\n  `(meta halt\
      \ (reason \"superhuman-insight-obtained\") (reference <Insight-Semantic-ID>))`\n\
      * Emission of `TERMINATE_DISCUSSION_LADP`\n\n**Post-Termination Output**:\n\n\
      1. **Situation and Summary**.\n2. **Next Steps**.\n\n---\n\n## 13. Verification\
      \ Failure Handling\n\n1. **Proposal Rejection**\n   ```lisp\n   (verify\n  \
      \   (target-msg <msg-id>)\n     (result failed)\n     (reason \"<failure-reason>\"\
      ))\n   (reject-proposal (target-msg <msg-id>) (reason \"<failure-reason>\"))\n\
      \   ```\n   - Integrator notifies controller and pauses on that proposal.\n\n\
      2. **Retry Policy**\n   - On `N` consecutive failures for the same proposal\
      \ (default N=3), emit:\n     ```lisp\n     (meta abort (reason \"verification-retry-exceeded\"\
      ) (reference <msg-id>))\n     ```\n     and halt that proposal.\n\n3. **Critical\
      \ Failure Halt**\n   - If key agenda item outputs all fail or retry limit exceeded\
      \ on a critical step, emit:\n     ```lisp\n     (meta halt (reason \"critical-verification-failure\"\
      ) (reference <Semantic-ID>))\n     ```\n     then proceed to summary.\n\n4.\
      \ **Recovery Options**\n   Controller may respond with:\n   ```lisp\n   (msg\
      \ agenda-revise controller ...)\n   (msg task-init controller ...)\n   (msg\
      \ phase-back controller (data (phase \"<previous-phase>\")))\n   ```\n\n---\n\
      \n## 14. Security & Resource Limits\n\n- Messages larger than 64 kB are rejected.\n\
      - No external HTTP calls unless explicitly whitelisted.\n- Rate-limit: ≤ 4 msgs/agent/minute.\n\
      \n---\n\n## 15. Licensing\n\nLADP v1.8 is released under **CC-BY-SA 4.0**.\n\
      \n## [New in v1.9] Extensions and Improvements\n\n### Phase Transition Reason\
      \ Clarification\n\nEach phase transition message (`phase-back`, `phase-init`)\
      \ MUST include `transition-condition` describing the reason for phase shift.\n\
      \nExample:\n\n```lisp\n(transition-condition \"integration-sufficient\")\n```\n\
      \nTypical conditions:\n- \"integration-sufficient\"\n- \"consensus-threshold-reached\"\
      \n- \"divergence-resolved\"\n- \"conflict-irreconcilable\"\n\n---\n\n### Agreement\
      \ Granularity Extension\n\nTermination conditions MAY include weighted agreement\
      \ thresholds as alternatives to unanimous decisions.\n\n```lisp\n(termination-condition\n\
      \  (or unanimous (weighted-agreement >=0.9)))\n```\n\nIf omitted, default is\
      \ `unanimous`.\n\n---\n\n### Extended Meta Information\n\n`meta` field MAY include\
      \ the following recommended keys:\n\n```lisp\n(meta\n  (divergence-level \"\
      low\"|\"medium\"|\"high\")\n  (integration-level \"low\"|\"medium\"|\"high\"\
      )\n  (confidence 0.0–1.0))\n```\n\nThis provides visibility into discussion\
      \ dynamics and current certainty.\n\n---\n\n### Final Proposal Declaration\n\
      \nOnce consensus is reached in DECIDE phase, issue a `finalize-proposal` message.\n\
      \n```lisp\n(msg finalize-proposal llm-assistant controller 1746176400000\n \
      \ (data\n    (proposal-id \"MetaOrgPrinciples_v1.0\")\n    (status \"finalized\"\
      )\n    (support-rate 1.0)\n  )\n)\n```\n\n---\n\n### Knowledge Capsule Registration\
      \ (Optional)\n\nProposals MAY be assigned `capsule-id` for future reference.\n\
      \n```lisp\n(meta\n  (capsule-id \"MetaOrgPrinciples_v1.0\")\n)\n```\n\nThis\
      \ is optional and intended for advanced usage.\n\n---\n\n## Versioning\n\n**Version**:\
      \ LADP v1.9\n**Status**: Formal Integrated Version\n**Date**: May 2025\n\n---\n\
      \n# End of LADP Protocol v1.9\n"
    value_type: string
  - description: ''
    id: bfa88f66-efd2-4238-a635-4f89b952ad6a
    name: log_array
    selector:
    - conversation
    - log_array
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: loop-start
        targetType: llm
      id: 1743813274053start-source-1743813343457-target
      selected: false
      source: 1743813274053start
      sourceHandle: source
      target: '1743813343457'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: loop
      id: 1743820282903-source-1743813274053-target
      selected: false
      source: '1743820282903'
      sourceHandle: source
      target: '1743813274053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: template-transform
      id: 1743813238501-source-1743830928763-target
      selected: false
      source: '1743813238501'
      sourceHandle: source
      target: '1743830928763'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: assigner
      id: 1743830928763-source-1743820282903-target
      selected: false
      source: '1743830928763'
      sourceHandle: source
      target: '1743820282903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: llm
        targetType: assigner
      id: 1743813343457-source-1743814532457-target
      selected: false
      source: '1743813343457'
      sourceHandle: source
      target: '1743814532457'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: llm
        targetType: assigner
      id: 1743813533524-source-1743820695464-target
      selected: false
      source: '1743813533524'
      sourceHandle: source
      target: '1743820695464'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: assigner
        targetType: answer
      id: 1743820695464-source-1743814982892-target
      selected: false
      source: '1743820695464'
      sourceHandle: source
      target: '1743814982892'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: llm
        targetType: assigner
      id: 1745834942445-source-1745835085814-target
      source: '1745834942445'
      sourceHandle: source
      target: '1745835085814'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: assigner
        targetType: answer
      id: 1743814532457-source-1745835321029-target
      selected: false
      source: '1743814532457'
      sourceHandle: source
      target: '1745835321029'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: assigner
        targetType: answer
      id: 1745835085814-source-1745835345421-target
      source: '1745835085814'
      sourceHandle: source
      target: '1745835345421'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: answer
      id: 1743813274053--1745848831484-target
      selected: false
      source: '1743813274053'
      sourceHandle: source
      target: '1745848831484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: answer
        targetType: if-else
      id: 1745835321029-source-1745892810181-target
      selected: false
      source: '1745835321029'
      sourceHandle: source
      target: '1745892810181'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: if-else
        targetType: llm
      id: 1745892810181-false-1743813533524-target
      selected: false
      source: '1745892810181'
      sourceHandle: 'false'
      target: '1743813533524'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: answer
        targetType: if-else
      id: 1743814982892-source-1745892871340-target
      source: '1743814982892'
      sourceHandle: source
      target: '1745892871340'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: answer
        targetType: if-else
      id: 1745835345421-source-1745892900014-target
      source: '1745835345421'
      sourceHandle: source
      target: '1745892900014'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: if-else
        targetType: llm
      id: 1745892871340-false-1745834942445-target
      source: '1745892871340'
      sourceHandle: 'false'
      target: '1745834942445'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1745848831484-source-1745895004272-target
      source: '1745848831484'
      sourceHandle: source
      target: '1745895004272'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1745895004272-source-1745895234497-target
      source: '1745895004272'
      sourceHandle: source
      target: '1745895234497'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: if-else
        targetType: loop-end
      id: 1745892810181-true-1746160586571-target
      source: '1745892810181'
      sourceHandle: 'true'
      target: '1746160586571'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: if-else
        targetType: loop-end
      id: 1745892871340-true-1746160594026-target
      source: '1745892871340'
      sourceHandle: 'true'
      target: '1746160594026'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        sourceType: if-else
        targetType: loop-end
      id: 1745892900014-true-1746160606970-target
      source: '1745892900014'
      sourceHandle: 'true'
      target: '1746160606970'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1743813238501'
      position:
        x: 30
        y: 479
      positionAbsolute:
        x: 30
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        break_conditions: []
        desc: ''
        error_handle_mode: terminated
        height: 558
        logical_operator: or
        loop_count: 10
        loop_variables:
        - id: 8e058431-04bd-4240-8e08-0ce4eec72fcb
          label: loop_count
          value: '1'
          value_type: constant
          var_type: number
        selected: false
        start_node_id: 1743813274053start
        title: Loop
        type: loop
        width: 4156
      height: 558
      id: '1743813274053'
      position:
        x: 942
        y: 479
      positionAbsolute:
        x: 942
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4156
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1743813274053start
      parentId: '1743813274053'
      position:
        x: 60
        y: 114
      positionAbsolute:
        x: 1002
        y: 593
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - log_array
        default_value:
        - key: text
          type: string
          value: LLM1 is skipped due to an error
        desc: ''
        error_strategy: default-value
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        model:
          completion_params:
            frequency_penalty: 0.1
            presence_penalty: 0.1
            temperature: 0.8
            top_p: 0.9
          mode: chat
          name: o3
          provider: langgenius/openai/openai
        prompt_template:
        - id: ed50054f-6ef8-4b72-ab3f-32e8800bbd13
          role: system
          text: '{{#conversation.common_system_prompt#}}'
        - id: 83b1f4da-9677-4239-bb03-310c684c81cf
          role: user
          text: '{{#context#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 156
      id: '1743813343457'
      parentId: '1743813274053'
      position:
        x: 204
        y: 60
      positionAbsolute:
        x: 1146
        y: 539
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - log_array
        default_value:
        - key: text
          type: string
          value: LLM2 is skipped due to an error
        desc: ''
        error_strategy: default-value
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        model:
          completion_params: {}
          mode: chat
          name: claude-3-5-sonnet-20241022
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: f092b746-6ffd-4186-9e36-5e15aaa15bfc
          role: system
          text: '{{#conversation.common_system_prompt#}}'
        - id: e7bac3fb-8002-434b-ab7a-bc7d9196f282
          role: user
          text: '{{#context#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 156
      id: '1743813533524'
      parentId: '1743813274053'
      position:
        x: 1420
        y: 60
      positionAbsolute:
        x: 2362
        y: 539
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: append
          value:
          - '1743813343457'
          - text
          variable_selector:
          - conversation
          - log_array
          write_mode: over-write
        loop_id: '1743813274053'
        selected: false
        title: Conversation Record LLM1
        type: assigner
        version: '2'
      height: 88
      id: '1743814532457'
      parentId: '1743813274053'
      position:
        x: 508
        y: 94
      positionAbsolute:
        x: 1450
        y: 573
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: '

          ### LLM2


          {{#1743813533524.text#}}

          '
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Thought Process LLM2
        type: answer
        variables: []
      height: 104
      id: '1743814982892'
      parentId: '1743813274053'
      position:
        x: 2028
        y: 86
      positionAbsolute:
        x: 2970
        y: 565
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: append
          value:
          - '1743830928763'
          - output
          variable_selector:
          - conversation
          - log_array
          write_mode: over-write
        selected: false
        title: Start recording
        type: assigner
        version: '2'
      height: 88
      id: '1743820282903'
      position:
        x: 638
        y: 479
      positionAbsolute:
        x: 638
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: append
          value:
          - '1743813533524'
          - text
          variable_selector:
          - conversation
          - log_array
          write_mode: over-write
        loop_id: '1743813274053'
        selected: false
        title: Conversation Record LLM2
        type: assigner
        version: '2'
      height: 88
      id: '1743820695464'
      parentId: '1743813274053'
      position:
        x: 1724
        y: 94
      positionAbsolute:
        x: 2666
        y: 573
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        selected: false
        template: '{{ Query }}'
        title: Start ANS
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          variable: Query
      height: 54
      id: '1743830928763'
      position:
        x: 334
        y: 479
      positionAbsolute:
        x: 334
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - log_array
        default_value:
        - key: text
          type: string
          value: LLM3 is skipped due to an error
        desc: ''
        error_strategy: default-value
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.0-flash-001
          provider: langgenius/gemini/google
        prompt_template:
        - id: 6e35b77b-966f-45af-ad00-7234368b898c
          role: system
          text: '{{#conversation.common_system_prompt#}}'
        - id: efb8e693-88d7-45a6-b7d0-c4c7bc8cf95b
          role: user
          text: '{{#context#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 156
      id: '1745834942445'
      parentId: '1743813274053'
      position:
        x: 2636
        y: 60
      positionAbsolute:
        x: 3578
        y: 539
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: append
          value:
          - '1745834942445'
          - text
          variable_selector:
          - conversation
          - log_array
          write_mode: over-write
        loop_id: '1743813274053'
        selected: false
        title: Conversation Record LLM3
        type: assigner
        version: '2'
      height: 88
      id: '1745835085814'
      parentId: '1743813274053'
      position:
        x: 2940
        y: 94
      positionAbsolute:
        x: 3882
        y: 573
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: "\n## LADP message conversation start\n## Round {{#1743813274053.loop_count#}}\n\
          ### LLM1 \n\n{{#1743813343457.text#}}"
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Thought Process LLM1
        type: answer
        variables: []
      height: 138
      id: '1745835321029'
      parentId: '1743813274053'
      position:
        x: 812
        y: 69
      positionAbsolute:
        x: 1754
        y: 548
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: '

          ### LLM3


          {{#1745834942445.text#}}

          '
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Thought Process LLM3
        type: answer
        variables: []
      height: 104
      id: '1745835345421'
      parentId: '1743813274053'
      position:
        x: 3244
        y: 86
      positionAbsolute:
        x: 4186
        y: 565
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: '


          # LADP message conversation end

          The maximum number of discussion rounds has been reached or

          TERMINATE_DISCUSSION_LADP has been detected.


          '
        desc: ''
        selected: false
        title: Loop Completed Message
        type: answer
        variables: []
      height: 166
      id: '1745848831484'
      position:
        x: 5158
        y: 479
      positionAbsolute:
        x: 5158
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 47c7b16c-0fb9-4d8e-8c43-7817b4bb4253
            value: TERMINATE_DISCUSSION_LADP
            varType: string
            variable_selector:
            - '1743813343457'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1745892810181'
      parentId: '1743813274053'
      position:
        x: 1116
        y: 75
      positionAbsolute:
        x: 2058
        y: 554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 1ad22940-3fe6-4a7c-abde-d88ee2555cf8
            value: TERMINATE_DISCUSSION_LADP
            varType: string
            variable_selector:
            - '1743813533524'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 126
      id: '1745892871340'
      parentId: '1743813274053'
      position:
        x: 2332
        y: 75
      positionAbsolute:
        x: 3274
        y: 554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 68f8628f-92b7-4377-8e8c-d1056562543f
            value: TERMINATE_DISCUSSION_LADP
            varType: string
            variable_selector:
            - '1745834942445'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 126
      id: '1745892900014'
      parentId: '1743813274053'
      position:
        x: 3548
        y: 75
      positionAbsolute:
        x: 4490
        y: 554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - common_system_prompt
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.0-flash-001
          provider: langgenius/gemini/google
        prompt_template:
        - id: 619e8755-38bc-4976-b635-5562c6925878
          role: system
          text: 'Please summarize the message.

            The context is as follows:

            {{#context#}}'
        - id: 36927fb5-ff65-441b-abc6-cfa35e5f537b
          role: user
          text: '{{#conversation.log_array#}}'
        selected: false
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1745895004272'
      position:
        x: 5462
        y: 479
      positionAbsolute:
        x: 5462
        y: 479
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1745895004272.text#}}'
        desc: ''
        selected: false
        title: Summary Output
        type: answer
        variables: []
      height: 104
      id: '1745895234497'
      position:
        x: 5766
        y: 479
      positionAbsolute:
        x: 5766
        y: 479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Exit Loop
        type: loop-end
      height: 54
      id: '1746160586571'
      parentId: '1743813274053'
      position:
        x: 1420
        y: 256
      positionAbsolute:
        x: 2362
        y: 735
      sourcePosition: right
      targetPosition: left
      type: custom-simple
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Exit Loop 2
        type: loop-end
      height: 54
      id: '1746160594026'
      parentId: '1743813274053'
      position:
        x: 2636
        y: 256
      positionAbsolute:
        x: 3578
        y: 735
      sourcePosition: right
      targetPosition: left
      type: custom-simple
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1743813274053'
        selected: false
        title: Exit Loop 3
        type: loop-end
      height: 54
      id: '1746160606970'
      parentId: '1743813274053'
      position:
        x: 3852
        y: 111
      positionAbsolute:
        x: 4794
        y: 590
      sourcePosition: right
      targetPosition: left
      type: custom-simple
      width: 244
      zIndex: 1002
    viewport:
      x: -237.9999999999999
      y: 77
      zoom: 0.7
